* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363535;
    font-family: sans-serif;
}

img {
    width: 100%;
}

.products {
    margin: 1.5rem auto;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    padding: 0 0.5rem;
    /* در صورتی که نخواهیم از اون مدیا ها استفاده کنی باید با این روش اینا رو ریسپانسیو کنی  */
    /* grid-template-columns: repeat(auto-fit,minmax(250px,auto)); */
}

.product-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
}

.info-product-item h3 {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.info-product-item button {
    border: none;
    background-color: #44c544;
    color: #fff;
    height: 26px;
    width: 93%;
    border-radius: 10px;
    font-size: 1rem;
}

@media (max-width:900px) {
    .products {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width:580px) {
    .products {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:400px) {
    .products {
        grid-template-columns: repeat(1, auto);
    }
}